@media only screen and (max-width:1360px) {
    .child-container {
        margin: 100px 60px;
    }

    .child-container>h1:first-child {
        font-size: 3.5rem;
    }

    .child-container>p:last-child {
        font-size: 1rem;
        width: 60%;
        margin: 0 10px;
    }

    .img-container {
        margin-right: 20px;
    }

    .searchbox {
        height: 10rem;
        width: 42%;
        margin: 0px 60px;
        margin-top: -70px;
        padding: 20px;
        gap: 5px;
    }

    .box-content1>p:first-child {
        margin-bottom: 17px;
    }

    .box-content1>select:last-child {
        padding: 30px 5px;
        font-size: 0.9rem;
        font-weight: 800;
    }

    .box-content2>p:first-child {
        margin-bottom: 20px;
    }

    .box-content2>input:last-child {
        padding: 20px 3px;
        font-size: 1.1rem;
    }

    .btn-box>button {
        padding: 15px 40px;
        margin-top: 37px;
    }

    .sport>h1:first-child {
        padding: 0 20px;
    }

    .cars-container {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 10px;
    }

    .cars {
        padding: 15px;
        position: relative;
    }

    .car-img>img {
        width: 95%;
    }

    .like>a {
        right: 25px;
        top: 25px;
    }

    .cars-info {
        display: flex;
        gap: 10px;
        color: #797979;
    }

    .cars-info>i {
        font-size: 18px;
    }

    .cars-info>span {
        font-size: 13px;
        margin-top: 3px;
    }

    .price {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .price>span:first-child {
        font-size: 23px;
        font-weight: 700;
    }

    .price>button:last-child {
        padding: 9px 25px;
        cursor: pointer;
    }

}

@media only screen and (max-width:1220px) {
    .child-container {
        margin: 100px 20px;
    }

    .child-container>h1:first-child {
        font-size: 2.9rem;
        width: 75%;
    }

    .child-container>p:last-child {
        font-size: 1rem;
        width: 70%;
    }

    .img-container>img {
        width: 500px;
    }

    .searchbox {
        justify-content: center;
        height: 10rem;
        width: 42%;
        margin: 0px 20px;
        margin-top: -10px;
        padding: 10px;
        gap: 5px;
    }

    .box-content1>p:first-child {
        margin-bottom: 17px;
    }

    .box-content1>select:last-child {
        padding: 30px 0px;
        font-size: 0.8rem;
        font-weight: 800;
    }

    .box-content2>p:first-child {
        margin-bottom: 20px;
    }

    .box-content2>input:last-child {
        padding: 25px 0px;
        font-size: 1rem;
    }

    .btn-box>button {
        padding: 20px 30px;
        margin-top: 37px;
    }

    .porche {
        margin-bottom: -15px;
    }
}

@media only screen and (max-width:1024px) {
    .navbar>h1 {
        font-size: 1.5rem;
    }

    .searchbar>input {
        padding: 10px 40px;
    }

    .navbar>ul {
        font-size: 20px;
        gap: 30px;
    }

    .child-container {
        margin: 100px 20px;
    }

    .child-container>h1:first-child {
        font-size: 2.5rem;
        width: 100%;
    }

    .child-container>p:last-child {
        font-size: 1.1rem;
        width: 90%;
    }

    .img-container {
        margin-right: 20px;
    }

    .img-container>img {
        height: 250px;
        width: 400px;
    }

    .searchbox {
        height: 13rem;
        width: 50%;
        margin: 0px 20px;
        margin-top: -10px;
        column-gap: 10px;
        flex-wrap: wrap;
    }

    .box-content1>p:first-child {
        margin-bottom: 17px;
    }

    .box-content1>select:last-child {
        padding: 19px 10px;
        font-size: 0.9rem;
        font-weight: 700;
    }

    .box-content2>p:first-child {
        margin-bottom: 20px;
    }

    .box-content2>input:last-child {
        padding: 17px 10px;
        font-size: 1.1rem;
    }

    .btn-box>button {
        padding: 15px 160px;
        margin-top: -10px;
    }

    .sport>h1:first-child {
        padding: 0 100px;
    }

    .cars-container {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 30px;
    }

    .car-img>img {
        width: 95%;
        margin-bottom: 20px;
    }

    .porche {
        margin-bottom: -33px;
        margin-top: -55px;
    }

    .cars-info {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .cars-info>i {
        font-size: 20px;
        margin-right: -15px;
    }

    .cars-info>span {
        font-size: 15px;
        margin-top: 4px;
    }

    .price {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .price>span:first-child {
        font-size: 25px;
    }

    .x5{
        margin-top: -15px;
        margin-bottom: -15px;
    }

    .urus{
        margin-top: -15px;
        margin-bottom: 0px;
    }

    .car-size>img{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    
    .coupe-size>img{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .astin-size>img{    
        margin-top: -20px;
        margin-bottom: -15px;
    }
    
    .m2-size>img{
        margin-bottom: 0px;
    }
    
    .bugatti-size>img{
        margin-top: 10px;
        margin-bottom: -25px;
    }
    
    .a8-size>img{
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .footer {
        padding: 30px 50px;
    }
        
    .sec1>p:last-child {
        font-size: 1rem;    
    }
    
    .sec2 {
        gap: 0px 30px;
    }
}

@media only screen and (max-width:768px) {
    .navbar {
        width: 100%;
        justify-content: space-evenly;
        padding: 20px 10px;
    }

    .navbar>h1 {
        font-size: 1.5rem;
        padding: 0px 20px;
        margin-right: -280px;
    }

    .searchbar>input {
        padding: 10px 30px;
        font-size: 1rem;
        margin-left: 280px;
    }

    .fa-magnifying-glass {
        left: 285px;
        font-size: 1.2rem;
    }

    .navbar>ul {
        font-size: 20px;
        gap: 15px;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-container>img {
        width: 450px;
    }

    .child-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .child-container>h1:first-child {
        font-size: 2.8rem;
        font-weight: 900;
        line-height: 55px;
    }

    .child-container>p:last-child {
        font-size: 1rem;
        width: 60%;
        line-height: 25px;
        margin-top: 10px;
    }

    .searchbox-container {
        display: flex;
        justify-content: center;
    }

    .searchbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 65%;
        padding: 20px;
        gap: 5px;
    }

    .box-content1>p:first-child {
        font-weight: 600;
        margin-bottom: 20px;
    }

    .box-content1>select:last-child {
        padding: 15px 5px;
        font-size: 1rem;
        font-weight: 600;
    }

    .box-content2>p:first-child {
        font-weight: 600;
        margin-bottom: 20px;
    }

    .box-content2>input:last-child {
        padding: 15px 10px;
        font-size: 1rem;
    }

    .btn-box>button {
        padding: 15px 142px;
        margin-top: -10px;
    }

    .sport>h1:first-child {
        padding: 0 35px;
    }

    .cars-container {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 25px;
    }

    .porche {
        margin-bottom: -33px;
        margin-top: -35px;
    }

    .cars-info {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }

    .cars-info>i {
        font-size: 18px;
        margin-right: -8px;
    }

    .cars-info>span {
        font-size: 13px;
    }

    .price {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
    }

    .price>span:first-child {
        font-size: 23px;
    }

    .car-size>img{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .coupe-size>img{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .astin-size>img{    
        margin-top: -20px;
        margin-bottom: -10px;
    }
    
    .m2-size>img{
        margin-bottom: 0px;
    }
    
    .bugatti-size>img{
        margin-bottom: -10px;
    }
    
    .a8-size>img{
        margin-top: 25px;
        margin-bottom: 15px;
    }

    /* footer */

    .footer {
        padding: 30px 20px;
    }
    
    .sec1>h1:first-child {
        font-size: 1.6rem;
    }
    
    .sec1>p:last-child {
        font-size: 0.75rem;
    }
    
    .sec2 {
        gap: 0px 35px;
    }
    
    .sec2>ul>h2 {
        font-size: 0.9rem;
    }
    
    .sec2>ul>li {
        font-size: 12px;
    }
    
    .sec3 {
        padding: 50px 30px;
    }
    
    .sec3>h1 {
        font-size: 0.8rem;
    }
    
    .sec3>h1>span {
        padding: 0 20px;
    }
}

@media only screen and (max-width:570px) {
    .navbar {
        justify-content: space-around;
        padding: 20px 35px;
        width: 100%;
        gap: 80px;
    }

    .navbar>h1 {
        font-size: 1rem;
    }

    .searchbar>input {
        display: none;
    }

    .fa-magnifying-glass {
        position: relative;
        left: -35px;
        font-size: 15px;
    }

    .slider {
        display: none !important;
    }

    .navbar>ul {
        font-size: 20px;
        gap: 20px;
        margin-right: -15px;
    }

    .child-container>h1:first-child {
        font-size: 2rem;
        font-weight: 900;
        line-height: 55px;
        margin-top: -50px;
    }

    .child-container>p:last-child {
        font-size: 0.8rem;
        width: 50%;
        line-height: 20px;
        margin-top: 5px;
    }

    .img-container>img {
        width: 350px;
    }


    .searchbox {
        width: 80%;
    }

    .box-content1>select:last-child {
        padding: 15px 0px;
        font-size: 0.8rem;
        font-weight: 700;
    }

    .box-content2>p:first-child {
        font-weight: 600;
        margin-bottom: 20px;
    }

    .box-content2>input:last-child {
        padding: 15px 5px;
        font-size: 0.9rem;
    }

    .btn-box>button {
        padding: 15px 115px;
        margin-top: -10px;
    }

        /* footer */

        .footer {
            padding: 30px 10px;
        }
        
        .sec1>h1:first-child {
            font-size: 1.3rem;
        }
        
        .sec1>p:last-child {
            font-size: 0.6rem;
        }
        
        .sec2 {
            gap: 0px 15px;
        }
        
        .sec2>ul>h2 {
            font-size: 0.9rem;
        }
        
        .sec2>ul>li {
            font-size: 11px;
        }
        
        .sec3 {
            padding: 50px 20px;
        }
        
        .sec3>h1 {
            font-size: 0.7rem;
        }
        
        .sec3>h1>span {
            padding: 0 10px;
        }
}


@media only screen and (max-width:425px) {
    .navbar {
        justify-content: space-around;
        padding: 20px 20px;
        width: 100%;
        gap: 80px;
    }

    .navbar>h1 {
        font-size: 1.5rem;
    }

    .fa-magnifying-glass {
        position: relative;
        left: -10px;
        font-size: 15px;
    }

    .child-container>h1:first-child {
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 40px;
        margin-top: -50px;
    }

    .child-container>p:last-child {
        font-size: 0.7rem;
        width: 70%;
        line-height: 15px;
        margin-top: 5px;
    }

    .img-container>img {
        width: 300px;
    }

    .searchbox {
        width: 85%;
        height: 18rem;
    }

    .box-content1>p:first-child {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .box-content1>select:last-child {
        padding: 15px 70px;
        font-size: 0.8rem;
        font-weight: 700;
    }

    .box-content2>p:first-child {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box-content2>input:last-child {
        padding: 15px 25px;
        font-size: 0.9rem;
    }

    .btn-box>button {
        padding: 15px 90px;
        margin-top: 10px;
    }

    .sport>h1:first-child {
        text-align: center;
        margin: 20px 0px;
    }

    .cars-container {
        display: grid;
        grid-template-columns: 80%;
        gap: 25px;
    }

    .cars {
        height: 25rem;
    }

    .porche {
        margin-top: -50px;
    }

    .cars-info {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .cars-info>i {
        margin-right: -10px;
    }

    .price {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .price>button:last-child {
        padding: 10px 80px;
    }

        /* footer */

        .footer {
            display: block;
            text-align: center;
            padding: 30px 0px; 
        }
        
        .sec1>h1:first-child {
            font-size: 2.7rem;
        }
        
        .sec1>p:last-child {
            font-size: 1rem;
        }
        
        .sec2 {
            display: flex;
            flex-direction: column;
            gap: 5px 35px;
            padding: 50px 0;

        }
        
        .sec2>ul>h2 {
            font-size: 1.6rem;
            margin-bottom: 0px;
        }
        
        .sec2>ul>li {
            font-size: 15px;
        }
        
        .sec3 {
            display: flex;
            flex-direction: column;
            gap: 5px 0 ;
        }
        
        .sec3>h1 {
            font-size: 0.7rem;
        }
        
        .sec3>h1>span {
            padding: 0 10px;
        }
}

@media only screen and (max-width: 375px) {
    .navbar {
        padding: 20px 0px;
        gap: 0px;
    }

    .navbar>h1 {
        font-size: 1.5rem;
    }

    .fa-magnifying-glass {
        left: -1px;
        font-size: 20px;
    }

    .navbar>ul {
        gap: 10px;
        margin-right: -25px;
    }

    .child-container>h1:first-child {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 25px;
        margin-top: -70px;
    }

    .child-container>p:last-child {
        font-size: 0.6rem;
        width: 60%;
        line-height: 15px;
        margin-top: 5px;
    }

    .img-container>img {
        width: 280px;
    }

    .cars {
        height: 24rem;
    }


    .price>button:last-child {
        padding: 10px 70px;
    }
}

@media only screen and (max-width:320px) {
    .navbar {
        padding: 20px 0px;
    }

    .navbar>h1 {
        font-size: 1.3rem;
        margin-left: -30px;
    }

    .fa-magnifying-glass {
        left: 20px;
        font-size: 18px;
    }

    .cars-container {
        display: grid;
        grid-template-columns: 80%;
        gap: 25px;
    }

    .cars {
        height: 23rem;
    }

    .porche{
        margin-bottom: 0px;
    }

    .cars-info { 
        gap: 11px;
    }

    .price>button:last-child {
        padding: 10px 60px;
    }
}