@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
    justify-content: center;
}

.bill-box {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    width: 55%;
    height: 20rem;
    margin: 30px 60px;
    border-radius: 10px;
}

.billing-info {
    padding: 25px 40px;
    line-height: 50px;
}

.billing-info>h1 {
    display: flex;
    text-transform: capitalize;
    font-size: 25px;
    gap: 450px;
}

.billing-info>h1>span {
    color: #8b8b8b;
    font-size: 18px;
    font-weight: 100;
}

.billing-info>span{
    color: #8b8b8b; 
}

.imf{
    display: flex;
}